.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.water-main {
  display: flex;
  flex-direction: column-reverse;
}
button{
  margin: 15px;
}
.water-container{
  width: 180px;
  height: 400px;
  border: 2px dashed black;
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.water-level{
  background-position: top;
  transition: height 2s ease-in-out;
  background-color: aqua;


}

.measure__stats {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  top: 0;
}